*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3351af;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
a:visited {
    color: transparent;
}
.header{
    width: 100%;
    height: 5.625rem;
    background-color: transparent;
   /* Posicionamento */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav{
    font-size: 0.875rem;
    margin-right: 6.875rem;
    white-space: nowrap;
}
.menu{
    float: left;
}
.main-back{
    height: 65.625rem;
}
.title{
    margin-left: 6.875rem;
    color: #ffffff;
    user-select: none;
    white-space: nowrap;
    font-size: 1.5625rem;
}
.btn{
    background-color: #01BAB3;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    border-style: none;
    width: 9.375rem;
    height: 2.1875rem;
    color: white;
    font-size: 1.0625rem;
}
.btn-search{
    background-color: #01BAB3;
    padding: 0.3125rem;
    margin-right: 0.9375rem;
    margin-left: -4.375rem;
    cursor: pointer;
    border-style: none;
    width: 6.25rem;
    height: 1.875rem;
    font-size: 0.75rem;
    margin-top: -0.3125rem;
    color: white;
}
.btn-text{
    font-size: 0.875rem;
    font-family:'PT Sans', sans-serif;
    font-weight: 600;
    color: white;
}
.btn-text-header{
    font-size: 0.75rem;
    font-family:'PT Sans', sans-serif;
    font-weight: 600;
    color: white;
}
.calendar{
    width: 6.25rem;
    border-style: none;
}
.people{
    border-style: none;
}
.size{
    font-size: 1rem;
    color: #646464;
}
.logo{
    width: 28.125rem;
    height: 15.9375rem;
    margin-left: -0.9375rem;
    margin-top: -3.125rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.centered{
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centered-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search{
    background-color: white;
    width: 37.5rem;
    height: 3.75rem;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: row;
    margin-left: 0.9375rem;
    margin-top: -1.875rem;
    margin-bottom: 1.875rem;
}
.search-content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 0.75rem;
    margin-left: 0.9375rem;
}
.text-search{
    font-size: 0.75rem;
    font-family:'PT Sans', sans-serif;
    font-weight: 600;
    color: #013F6B;
}
.txt-items{
    font-family: 'Poppins';
    font-size: 0.625rem;
    font-weight: bold;
    width: 6.25rem;
}
.search-button{
    margin-top: 1.1875rem;
    margin-left: 5rem;
}
.white-title{
    color: white;
    font-family: 'PT Sans';
    font-size: 1.875rem;
}
.black-title{
    color: #353535;
    font-family: 'PT Sans';
    font-size: 1.875rem;
}
.white-subtitle{
    color:white;
    font-family: 'Poppins';
    letter-spacing: 0.5rem;
}
.black-subtitle{
    color: #353535;
    font-family: 'Poppins';
    letter-spacing: 0.3125rem;
    font-weight: 1000;
}
.txt-bed{
    color: #013F6B;
    margin-top: 1.875rem;
    font-family: 'Segoe UI';
    font-size: 1rem;
    text-align: justify;
}
.main{
    background-color: transparent;
    width: 56.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4.375rem;
}
.main-left, .main-right{
    background-color: transparent;
    width: 40%;
}
.main-left{
    display: flex;
    margin-right: 2.5rem;
}
.main-right{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 25rem;
}
.sp{
    height: 12.5rem;
    width: 19.6875rem;
}
.txt-sp{
    color: white;
    font-family: 'Poppins';
}
.main-wt{
    background-color: white;
    height: 31.25rem;
    display: flex;
    justify-content: center;
    padding-top: 9.375rem;
    padding-bottom: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-right-wt{
    border-radius: 0.3125rem;
    display: flex;
    justify-content: start;
    margin-left: 2.5rem;
}
.main-right-wt .bed{
    max-width: 25rem;
}
.main-left-wt{
    background-color: white;
    margin-top: -2.8125rem;
    display: flex;
    flex-direction: column;
    width: 25rem;
    display: flex;
    justify-content: end;
}
.icon{
    font-size: 1.875rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    margin-right: 0.9375rem;
    color: #bebebe;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.icon-txt{
    margin-top: 0.5rem;
    color: #013F6B;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.icons{
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
    width: 100%;
    display:inline-flex;
    justify-content:space-around;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.icons-left{
    width: 9.375rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.icons-right{
    width: 9.375rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main-bl{
    height: 43.75rem;
    padding-top: 1.25rem;
    padding-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.slide{
    margin-top: 2.5rem;
    width: 53.125rem;
    height: 28.125rem;
    display: inline-flex;
    justify-content:space-around;
}
.slide-a{
    margin-top: 2.5rem;
    background-color: white;
    width: 15.625rem;
    height: 19.6875rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.625rem 0.625rem rgba(0,0,0,0.10), 0 0.3125rem 0.3125rem rgba(0,0,0,0.10);
}
.slide-b{
    background-color: white;
    margin-top: 5rem;
    width: 15.625rem;
    height: 19.6875rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0.625rem 0.625rem rgba(0,0,0,0.10), 0 0.3125rem 0.3125rem rgba(0,0,0,0.10);
}
.img-slide{
    width: 100%;
    height: 50%;
    border-radius: 0.3125rem;
}
.slide-title{
    margin-top: 0.9375rem;
    margin-left: 0.9375rem;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 0.875rem;
}
.slide-title-desc{
    margin-top: 0.9375rem;
    margin-left: 0.9375rem;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 0.875rem;
    color:rgb(228, 228, 228);
}
.slide-text{
    margin-top: 0.625rem;
    margin-left: 0.9375rem;
    font-size: 0.875rem;
    color: #6289a5;
}
.slide-preco{
    margin-top: 0.625rem;
    margin-right: 0.9375rem;
    display: flex;
    justify-content: flex-end;
    color: #01BAB3;
    font-family: 'Abril Fatface';
    font-size: 1.125rem;
}
.slide-diario-txt{
    font-family: 'Poppins';
    font-weight: 600;
    color: #363636;
    font-size: 0.75rem;
    margin-top: 0.3125rem;
}
.slide-diario-desc{
    font-family: 'Poppins';
    font-weight: 600;
    color: rgb(190, 190, 190);
    font-size: 0.75rem;
    margin-top: 0.3125rem;
}
.main-wt-opinion{
    background-color: white;
    height: 43.75rem;
    padding-top: 1.125rem;
    padding-bottom: 6.25rem;
}
.main-wt-reserva{
    background-color: white;
    height: 62.5rem;
    padding-top: 1.125rem;
    padding-bottom: 6.25rem;
}
.opinion{
    margin-top: 3.75rem;
    width: 53.125rem;
    height: 28.125rem;
    display: inline-flex;
    justify-content:space-around;
}
.opinion-box{
    width: 16.875rem;
    height: 28.125rem;
}
.review-img{
    width: 16.875rem;
    height: 9.375rem;
    margin-bottom: 0.625rem;
    border-radius: 0.625rem;
}
.review-img-size{
    width: 16.875rem;
    height: 9.375rem;
}
.review-item{
    width: 16.875rem;
    height: 8.125rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border-radius: 0.625rem;
    display: flex;
    justify-content:space-around;
    box-shadow: 0 0.625rem 0.625rem rgba(0,0,0,0.10), 0 0.3125rem 0.3125rem rgba(0,0,0,0.10);
}
.item-model{
    display: flex;
    width: 12.1875rem;
    height: 7.5rem;
    margin: 0.3125rem;
    flex-direction: column;
}
.img-model{
    width: 3.75rem;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}
.aspas{
    margin-top: -0.3125rem;
    margin-left: 0.3125rem;
    width: 60%;
    height: 21%;
}
.img{
    border-radius: 50%;
    margin-left: 0.3125rem;
    height: 27%;
    width: 60%;
}
.review-text{
    color: #005da0;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 0.625rem;
    margin-top: 0.3125rem;
    margin-left: 0.3125rem;
}
.person-name-review{
    margin-top: -0.5rem;
    margin-left: 0.3125rem;
    color: #013F6B;
}
.rooms{
    margin-top: 5rem;
    margin-bottom: 1.875rem;
    width: 50rem;
    height: 23.125rem;
}
.room-desc{
    width: 50rem;
    height: 18.75rem;
    display: flex;
    flex-direction: row;
}
.room-desc-left{
    width: 25rem;
    height: 17.5rem;
    margin-top: 0.625rem;
    margin-left: 0.625rem;
}
.room-desc-right{
    width: 25rem;
    height: 17.5rem;
    margin-top: 0.625rem;
    margin-left: 0.625rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.room-description-right{
    width: 56.25rem;
    height: 17.5rem;
    margin-top: 0.625rem;
    margin-left: 0.625rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.room-name{
    font-family: 'Abril Fatface';
    font-size: 1.5rem;
    color: white;
}
.room-name-description{
    font-family: 'Abril Fatface';
    font-size: 1.5rem;
    color: #013F6B;
    font-weight: bold;
}
.room-txt{
    font-family: 'Poppins';
    font-size: 0.625rem;
    color: white;
    text-align: justify;
}
.room-txt-desc{
    color: #013F6B;
    font-family: 'Poppins';
    font-size: 0.625rem;
    text-align: justify;
    font-weight: bold;
}
.icon-txt-size{
    font-family: 'Poppins';
    font-size: 0.5rem;
    color: white;
}
.icon-txt-size-desc{
    font-family: 'Poppins';
    font-size: 0.5rem;
    font-weight: bold;
}
.icon-room{
    font-size: 0.75rem;
    color: white;
}
.icon-room-desc{
    font-size: 0.75rem;
    color: #013F6B;
}
.room-price-card{
    width: 15rem;
    height: 10rem;
    background-color: white;
    border-radius: 0.625rem;
    padding-top: 1.5625rem;
    padding-left: 2.1875rem;
}
.card-price{
    margin-left: 0.625rem;
    color: #01BAB3;
    font-family: 'Abril Fatface';
    font-size: 2.5rem;
}
.card-price-desc{
    margin-left: 0.625rem;
    color: white;
    font-family: 'Abril Fatface';
    font-size: 2.3125rem;
}
.btn-card{
    background-color: #01BAB3;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    border-style: none;
    width: 6.25rem;
    height: 1.6875rem;
    color: white;
    font-weight: 500;
}
.btn-card-save{
    background-color: white;
    border-color: #01BAB3;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    width: 6.25rem;
    height: 1.6875rem;
    color: #01BAB3;
    font-weight: 500;
}
.btn-card-save-desc{
    background-color: transparent;
    border-color: #7DB1D6;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    width: 6.25rem;
    height: 1.6875rem;
    color: #7DB1D6;
    font-weight: 500;
}
.star{
    color: #01BAB3;
}
.star-desc{
    color: #7DB1D6;
}
.card-desc{
    font-size: 0.875rem;
}
.cards{
    width: 13.75rem;
}
.star-c{
    color: #01BAB3;
    font-size: 1.0625rem;
}
.card-price-txt{
    font-family: 'Poppins';
    font-size: 0.625rem;
    color: rgb(66, 66, 66);
    font-weight: 600;
    margin-left: 1.5625rem;
}
.card-price-txt{
    font-family: 'Poppins';
    font-size: 0.625rem;
    color: white;
}
.background-contact{
    width: 50rem;
    height: 28.125rem;
    display: flex;
    flex-direction: row;
}
.info-contact{
    margin-top: 1.875rem;
    margin-left: 1.875rem;
}
.contact-title{
    font-family:'Segoe UI', sans-serif;
    font-size: 1.375rem;
    font-weight: 800;
    color: #393939;
}
.text-desc{
    margin-top: 1.5625rem;
    width: 20.3125rem;
    color: rgb(94, 94, 94);
}
.btn-contact{
    background-color: #01BAB3;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    border-style: none;
    width: 7.5rem;
    height: 1.875rem;
    color: white;
    font-weight: 500;
}
.info-cards{
    width: 50rem;
    height: 12.5rem;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    margin-top: 4.375rem;
}
.info-card{
    width: 11.25rem;
    height: 11.25rem;
    border-width: 0.0625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.625rem 0.625rem rgba(0,0,0,0.10), 0 0.3125rem 0.3125rem rgba(0,0,0,0.10);
}
.icon-size{
    font-size: 2.625rem;
    color: rgb(88, 88, 88);
}
.contact{
    margin-top: 14.375rem;
    height: 56.25rem;
    padding-top: 1.25rem;
    padding-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;
}
.info-card-text{
    margin-top: 0.9375rem;
    font-size: 0.625rem;
    color: #8D91A0;
}
.footer-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background-footer{
    width: 56.25rem;
    height: 25rem;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}
.f1{
    width: 13.4375rem;
}
.f2{
    width: 21.875rem;
    margin-top: 3.125rem;
}
.footer-logo{
    width: 12.5rem;
    height: 6.875rem;
}
.footer-title{
    font-size: 1.375rem;
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}
.footer-txt{
    font-family: 'Poppins';
    font-size: 0.875rem;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}
.input{
    height: 1.25rem;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 0.125rem;
}
.footer-btn{
    width: 21.875rem;
    height: 1.5625rem;
    background-color: #01BAB3;
    border-radius: 0.3125rem;
    cursor: pointer;
    border-style: none;
    color: white;
    font-size: 0.875rem;
}
.footer-img{
    height: 18.75rem;
    width: 13.4375rem;
    border-radius: 0.625rem;
    margin-top: 3.125rem;
}


/*==== QUARTOS ====*/
.main-quartos{
    height: 25rem;
}
.header-quartos{
    width: 100%;
    height: 28.125rem;
    top: 0rem;
    left: 0rem;
    background-image:url("img/fundo.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-quartos-reserva{
    width: 100%;
    height: 28.125rem;
    top: 0rem;
    left: 0rem;
    background-image:url("img/reservas.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-quartos-description{
    width: 100%;
    height:28.125rem;
    top: 0rem;
    left: 0rem;
    background-image:url("img/artemida.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.posi{
   /* Posicionamento */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-quartos{
    margin-top: 0.9375rem;
    margin-left: 6.875rem;
    color: #ffffff;
    user-select: none;
    white-space: nowrap;
    font-size: 1.5625rem;
}
.nav-quartos{
    margin-top: 0.9375rem;
    font-size: 0.875rem;
    margin-right: 6.875rem;
    white-space: nowrap;
}
.logo-header{
    margin-top: 0.9375rem;
    width: 12.5rem;
    height: 7.5rem;
}
.title-header{
    color: white;
    font-family: 'PT Sans';
    font-size: 4.0625rem;
}
.posi2{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin-left: -4.375rem;
}
.quartos-wt{
    background-color: white;
    height: 87.5rem;
    margin-top: -0.9375rem;
    padding-top: 0.3125rem;
    padding-bottom: 6.25rem;
}
.quartos-wt-description{
    background-color: white;
    margin-top: -0.625rem;
    height: 81.25rem;
    width: 100%;
    padding-bottom: 6.25rem;
}
.container-description{
    width: 56.25rem;
    height: 37.5rem;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    display: flex;
    flex-direction: row;
}
.room-price-card-description{
    margin-top: -7.8125rem;
    width: 15rem;
    height: 10rem;
    background-color: #3b59b3;
    border-radius: 0.625rem;
    padding-top: 1.5625rem;
    padding-left: 2.1875rem;
    box-shadow: 0 0.625rem 0.625rem rgba(0,0,0,0.10), 0 0.3125rem 0.3125rem rgba(0,0,0,0.10);
}
/* CALENDARIO */
.base-calendar{
    margin-top: -1.875rem;
    width: 43.75rem;
    height: 16.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 0.625rem 0.625rem rgba(0,0,0,0.10), 0 0.3125rem 0.3125rem rgba(0,0,0,0.10);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.calendar-1,.calendar-2{
    width: 14.375rem;
}
:root {
    --teal-050: #effcf6;
    --teal-100: #c6f7e2;
    --teal-200: #8eedc7;
    --teal-300: #65d6ad;
    --teal-400: #3ebd93;
    --teal-500: #27ab83;
    --teal-600: #199473;
    --teal-700: #147d64;
    --teal-800: #0c6b58;
    --teal-900: #014d40;
    --blue-grey-050: #f0f4f8;
    --blue-grey-100: #d9e2ec;
    --blue-grey-200: #bcccdc;
    --blue-grey-300: #9fb3c8;
    --blue-grey-400: #829ab1;
    --blue-grey-500: #627d98;
    --blue-grey-600: #486581;
    --blue-grey-700: #334e68;
    --blue-grey-800: #243b53;
    --blue-grey-900: #102a43;
}
.month-indicator {
    color: var(--blue-grey-700);
    text-align: center;
    font-weight: 500;
}
.day-of-week, .date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day-of-week {
    margin-top: 1.25em;
}
.day-of-week {
    font-size: 0.7em;
    color: var(--blue-grey-400);
    font-weight: 500;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: center;
}
/* Dates */
.date-grid {
    margin-top: 0.5em;
}
/* Positioning the first day */
.jan button:first-child {
    grid-column: 7;
}
.feb button:first-child {
    grid-column: 2;
}
.date-grid button {
    position: relative;
    border: 0;
    width: 4.5ch;
    height: 4.5ch;
    border-radius: 50%;
    background-color: transparent;
    color: var(--blue-grey-600);
}
.date-grid button:hover, .date-grid button:focus {
    outline: none;
    background-color: var(--blue-grey-050);
    color: var(--blue-grey-700);
}
.date-grid button:active, .date-grid button.is-selected {
    background-color: var(--teal-100);
    color: var(--teal-900);
}
.main-search-rooms{
    height: 41.875rem;
    width: 50rem;
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
}
.search-rooms-txt{
    font-family: 'PT Sans';
    color: black;
    font-size: 1.375rem;
}
.room-card{
    background-color: white;
    float: left;
    width: 25%;
    margin-left: 2%;
    margin-top: 2%;
    width: 14.0625rem;
    height: 19.6875rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.625rem 0.625rem rgba(0,0,0,0.10), 0 0.3125rem 0.3125rem rgba(0,0,0,0.10);
}
.room-title{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: 0.9375rem;
    margin-left: 0.9375rem;
    color: #013F6B;
    font-weight: 800;
}
.container-rooms{
    margin-bottom: 3.125rem;
    height: 43.125rem;
}
.calendar-search{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.9375rem;
}
.range{
    -webkit-appearance: none;
    width: 100%;
    height: 0.3125rem;
    border-radius: 0.3125rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    background: #01BAB3;
    cursor: pointer;
}
.range::-moz-range-thumb {
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    background: #01BAB3;
    cursor: pointer;
}
.input-value{
    border: none;
    font-family: 'Poppins';
    font-weight: 600;
    width: 1.5625rem;
}
.container-item-desc{
    width: 25rem;
    height: 8.125rem;
}
.item-desc{
    width: 7.1875rem;
    height: 1.875rem;
    margin-left: 0.9375rem;
    margin-top: 0.625rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    float: left;
}
.location-description{
    width: 29.375rem;
    border-radius: 0.625rem;
}
.background-contact1{
    width: 65rem;
    height: 50rem;
    display: flex;
    flex-direction: row;
    margin-left: 2.8125rem;
}
.text-desc1{
    width: 20.3125rem;
    color: #013F6B;
}
.text-desc2{
    width: 20.3125rem;
    margin-top: 3.125rem;
    color: #013F6B;
}
.info-contact1{
    margin-left: 4.875rem;
}
.footer-btn1{
    width: 5.625rem;
    height: 2.5rem;
    background-color: #01BAB3;
    border-radius: 0.3125rem;
    cursor: pointer;
    border-style: none;
    color: white;
    font-size: 0.875rem;
}
.bg-reservas{
    width: 62.5rem;
    height: 31.25rem;
    display: inline-flex;
    color: #013F6B;
}
.left-reservas{
    width: 31.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.right-reservas{
    width: 31.25rem;
    margin-left: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.base-calendar-reserva{
    margin-top: -1.875rem;
    width: 31.25rem;
    height: 16.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 0.3125rem 0.3125rem rgba(0,0,0,0.10), 0 0.1563rem 0.1563rem rgba(0,0,0,0.10);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.reserva-enviar{
    margin-left: 7.8125rem;
}
